  <div class="row justify-content-around mb-3">
   <div class = "col-5 ml-5" >
     <h4>練習メニュー一覧</h4>
   </div>
  </div>

  <div class="row justify-content-around">
     <div class = "col-9">
      <table class = "table table-border">
        <thead>
          <tr>
           <th></th>
           <th>投稿者</th>
           <th>日付</th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
        <tbody>
         <tr>
          <td>
           <% if post.user.profile_image.attached? %>
            <%= image_tag post.user.get_profile_image(50, 50) %>
           <% end %>
          </td>
          <td><%= post.user.name %></td>
          <td><%= post.date %></td>
          <td><%= link_to "ユーザーページ", admin_user_path(post.user) %></td>
          <td><%= link_to "練習メニュー詳細ページ", admin_post_path(post) %></td>
         </tr>
        </tbody>
        <% end %>
       </tbody>
      </table>
    </div>
   </div>

  </div>