 <div class="row justify-content-around mb-3">
   <div class = "col-7">
     <h4>マイページ編集</h4>
  </div>
 </div>


 <%= render 'layouts/errors', obj: @user %>
   <%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
    <div class = "row justify-content-around" >
      <div class = "col-8 mr-5" >
        <table class = "table table-borderless" >
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  </td>
          </tr>
          <tr>
            <td>名前</td>
            <td><%= f.text_field :name, autofocus: true %></td>
          </tr>
          <tr>
            <td>専門種目</td>
            <td><%= f.text_field :event,  id:"user_inputevent" %></td>
          </tr>
          <tr>
            <td>目標</td>
            <td><%= f.text_field :target,  id:"user_inputtarget" %></td>
          </tr>
          <tr>
            <td>目標を達成するための今の課題</td>
            <td><%= f.text_field :task,  id:"user_inputtask" %></td>
            <td> <%= f.submit "編集内容を保存", class: "btn btn-success" %></td>
          </tr>
        </table>
      </div>
    </div>

 <% end %>