いいね一覧
     <table class = "table table-border">
        <thead>
          <tr>
           <th></th>
           <th>投稿者</th>
           <th>日付</th>
           <th></th>
           <th></th>
           <th></th>
          </tr>
        </thead>
        <% @like_posts.each do |post|%>
        <tbody>
         <tr>
          <td>
           <% if post.user.profile_image.attached? %>
            <%= image_tag post.user.get_profile_image(50, 50) %>
           <% end %>
          </td>
          <td><%= link_to post.user.name, post.user %></td>
          <td><%= link_to post.date , post %></td>
          <td><%= post.likes.count %> いいね</td>
          <td>コメント件数：<%= post.comments.count %></td>
          <td><%= link_to "練習メニュー詳細", post_path(post.id) %></td>
         </tr>
        </tbody>
        <% end %>
      </table>
