  <div class="row justify-content-around mb-3">
   <div class = "col-8" >
    <h4>いいねした練習メニュー一覧</h4>
   </div>
  </div>

　<div class="row justify-content-around">
   <div class = "col-10">
  　　　<table class = "table table-border">
        <thead>
          <tr>
           <th></th>
           <th>投稿者</th>
           <th>日付</th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
          </tr>
        </thead>
        <% @like_posts.each do |post|%>
        <tbody>
         <tr>
          <td>
           <% if post.user.profile_image.attached? %>
            <%= image_tag post.user.get_profile_image(50, 50) %>
           <% end %>
          </td>
          <td><%= post.user.name %></td>
          <td><%= post.date  %></td>
          <td><%= post.likes.count %> いいね</td>
          <td>コメント件数：<%= post.comments.count %></td>
          <td><%= link_to "練習メニュー詳細", post_path(post.id) %></td>
          <td><%= link_to "ユーザーページ", user_path(post.user.id) %></td>
         </tr>
        </tbody>
        <% end %>
 　　　 </table>
 　 </div>
  </div>
