　<div class = "row ml-5 mt-3 mb-3">
     <div class = "col">
         <h2>マイページ</h2>
   　 </div>
　</div>

  <div class = "row" >
     <div class = "col-8" >
         <table class = "table table-borderless">
             <tr>
                 <td>名前</td>
                 <td><%= @user.name %></td>
             </tr>
             <tr>
                 <td>専門種目</td>
                 <td><%= @user.event %></td>
             </tr>
             <tr>
                 <td>目標</td>
                 <td><%= @user.target %></td>
             </tr>
             <tr>
                 <td>目標を達成するための現状の課題</td>
                 <td><%= @user.task %></td>
             </tr>
         </table>
     </div>
  </div>



<p><%= link_to "編集", edit_users_path(@user.id) %></p>