<div class = "container">
  <div class = "text-right">
   <%= form_tag(search_user_path,:method => 'get') do %>
    <%= label_tag '名前または、専門種目で検索' %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :address => nil %>
   <% end %>
   </div>

    <div class = "row">
     <div class = "col-4">
       <h4>ユーザページ</h4>
         <% if @user.profile_image.attached? %>
          <!--accept: "image/*"  →画像ファイルしか投稿できないようにする-->
          <%= image_tag @user.get_profile_image(100, 100) %>
         <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
        <table class = "table table-borderless">
          <tr>
            <td>名前</td>
            <td><%= @user.name %></td>
            </tr>
          <tr>
             <td>専門種目</td>
             <td><%= @user.event %></td>
           </tr>
           <tr>
            <!--フォロー数-->
            <td>フォロー</td>
            <td><%= link_to @following_users.count, follows_user_path(@user)  %></td>
           </tr>
           <tr>
            <!--フォロワー数-->
            <td>フォロワー</td>
            <td><%= link_to @follower_users.count, followers_user_path(@user) %></td>
           </tr>
           <tr>
             <% if user_signed_in? && @user == current_user %>
            <td><%= link_to "編集する", edit_user_path(@user), class: "btn btn-success" %></td>
            <td><%= link_to "退会する",confirm_user_path(@user), class: "btn btn-danger" %></td>
            <% end %>
           </tr>
         </table>
        <!--ログインユーザーでない場合にフォローボタン表示-->
        <div class="text-center">
         <% if current_user != @user %>
          <% if current_user.following?(@user) %>
           <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
           <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-success" %>
          <% end %>
         <% end %>
        <!--DM機能<-->
         <% if @user.id == current_user.id %>
          <%= @msg %>
         <% else %>
          <% if @isRoom == true %>
           <p><%= link_to "DMをする", user_rooms_path(@roomId) %></p>
           <% else %>
            <%= form_for @room, url: user_rooms_path(@user) do |f| %>
             <%= fields_for @entry do |e|%>
              <% e.hidden_field :user_id, value: @user.id %>
             <% end %>
            <%= f.submit "DMを開始する" %>
            <% end %>
          <% end %>
         <% end %>
        </div>

        <%= link_to "いいねした投稿一覧", likes_user_path(@user) %><br>
       <% if user_signed_in? && @user == current_user %>
        <%= link_to "自分の練習メニュー一覧", myposts_posts_path(@my_posts) %>
       <% end %>
     </div>
     <div class = "col-8">
       <h4>ユーザー一覧</h4>
       <%= render 'user', users: @users %>
      </div>
  </div>