<% if users.exists? %>
 <% users.each do |user| %>
    <thead>
        <tr>
            <th></th>
            <th>ユーザー名</th>
            <th>専門種目</th>
            <th>投稿数</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <% if user.profile_image.attached? %>
                <%= image_tag user.get_profile_image(50, 50) %>
                <% end %>
            </td>
            <td><%= user.name %></td>
            <td><%= user.event %></td>
            <td><%= "#{user.posts.count} 投稿" %></td>
            <td><%= link_to "ユーザー詳細ページ", user_path(user) %></td>
        </tr>
    </tbody>
  <% end %>
  <% else %>
     <p>ユーザーはいません</p>
  <% end %>