<%= form_tag(search_posts_path,:method => 'get') do %>
  <%= label_tag '投稿者名か日付で検索' %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :address => nil %>
<% end %>

<h4>練習メニュー一覧</h4>
   <%= render 'post', posts: @posts %>

 <%= paginate (@posts) %>