<h1>練習メニュー投稿</h1>
   <%= form_with model: @post do |f| %>
     <h4>名前</h4>
     <%= f.text_field :name %>
     <h4>日付</h4>
     <%= f.text_field :date %>
     <h4>天気</h4>
     <%= f.text_field :weather %>
     <h4>練習時間</h4>
     <%= f.text_field :time %>
     <h4>練習メニュー</h4>
     <%= f.text_field :practice %>
     <h4>本日の練習で、課題に対してのスキルアップしたこと</h4>
     <%= f.text_field :skill %>
     <h4>本日の練習での課題に対して明日の練習で改善、意識すること</h4>
     <%= f.text_field :improvement %>

     <%= f.submit "投稿する" %>
    <% end %>