 <div class="row justify-content-around mb-3">
   <div class = "col-8" >
    <h4>練習メニュー詳細ページ</h4>
   </div>
  </div>

   <div class="row justify-content-around">
    <div class = "col-7">
     <table class = "table table-borderless">
       <tr>
        <td>投稿者名</td>
        <td><%= @post.name %></td>
       </tr>
       <tr>
        <td>日付</td>
        <td><%= @post.date %></td>
       </tr>
       <tr>
        <td>天気</td>
        <td><%= @post.weather %></td>
       </tr>
       <tr>
        <td>練習時間</td>
        <td><%= @post.time %></td>
       </tr>
       <tr>
        <td>練習メニュー</td>
        <td><%= @post.practice %></td>
       </tr>
       <tr>
        <td>本日の練習で良かったこと</td>
        <td><%= @post.skill %></td>
       </tr>
       <tr>
        <td>明日の練習で改善、意識すること</td>
        <td><%= @post.improvement %></td>
     </table>
     <div class = "text-center">
       <% if @post.user_id == current_user.id %>
        <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
        <%= link_to "削除する", post_path(@post), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
       <% end %>
     </div>
    </div>
    <div class = "col-5" >
    <!--いいね-->
     <% if @post.liked_by?(current_user) %>
      <%= link_to post_likes_path(@post), method: :delete, remote: true, class: "favorite_btn" do %>
      ♥<%= @post.likes.count %> いいね
     <% end %>
     <% else %>
      <%= link_to post_likes_path(@post), method: :post, remote: true, class: "favorite_btn" do %>
      ♡<%= @post.likes.count %> いいね
     <% end %>
    <% end %>
    <!--コメントフォーム-->
     <%= form_with(model:[@post, @comment], local: true) do |f| %>
      <%= f.text_area :comment,placeholder: "コメントをここに", size: "30x5" %>
      <%= f.submit "送信する" %>
     <% end %>
    <!--コメント一覧部分-->
     <p>コメント件数：<%= @post.comments.count %></p>
     <% @post.comments.each do |comment| %>
      <% if comment.user.profile_image.attached? %>
       <%= image_tag comment.user.get_profile_image(50, 50) %>
      <% end %>
       <%= comment.user.name %>
       <%= comment.created_at.strftime('%Y/%m/%d') %>
      <% if comment.user == current_user %>
       <%= link_to "削除する", post_comment_path(comment.post, comment), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？"  %><br>
      <% end %>
       <%= comment.comment %><br>
     <% end %>
    </div>
   </div>