   <%= form_with url: posts_path, method: :get, local: true do |f| %>
   <%= f.text_field :search %>
   <%= f.submit '検索する', name: nil %>
  <% end %>
   
   <p>日付:<%= @post.date %></p>
   <p>投稿者:<%= link_to @post.user.name, user_path(@user) %></p>
   <p>天気:<%= @post.weather %></p>
   <p>練習時間:<%= @post.time %></p>
   <p>練習メニュー:<%= @post.practice %></p>
   <p>本日の練習で、課題に対してのスキルアップしたこと:<%= @post.skill %></p>
   <p>本日の練習での課題に対して明日の練習で改善、意識すること:<%= @post.improvement %></p>

     <% if @post.user_id == current_user.id %>
    <%= link_to "編集する", edit_post_path(@post.id) %>
    <%= link_to "削除する", post_path(@post), method: :delete %>
  <% end %>

   <!--いいね-->
    <% if @post.liked_by?(current_user) %>
    <%= link_to post_likes_path(@post), method: :delete, class: "favorite_btn" do %>
     ♥<%= @post.likes.count %> いいね
    <% end %>
    <% else %>
     <%= link_to post_likes_path(@post), method: :post, class: "favorite_btn" do %>
      ♡<%= @post.likes.count %> いいね
     <% end %>
    <% end %>

    <!--コメントフォーム-->
    <%= form_with(model:[@post, @comment], local: true) do |f| %>
     <%= f.text_area :comment,placeholder: "コメントをここに" %>
     <%= f.submit "送信する" %>
    <% end %>

    <!--コメント一覧部分-->
    <p>コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
     <%= comment.user.name %>
     <%= comment.created_at.strftime('%Y/%m/%d') %>
     <%= comment.comment %>
     
    <% if comment.user == current_user %>
     <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
    <% else %>
    <!--<p>コメントはまだありません</p>-->
    <% end %>
   <% end %>
